<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>힛츄윗댓 투두투두리스트</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Hit you with that todo todo List</h1>

    <form th:action="@{/todos}" method="post">
        <input type="text" name="task" placeholder="Enter a new task" required />
        <button type="submit">To do 추가</button>
    </form>
        <div class="todo-list">
            <ul>
                <li th:each="task: ${todos}">
                    <form th:action="@{/todos/toggle}" method="post" style="display:inline;">
                        <input type="hidden" name="taskId" th:value="${task.id}" />
                        <input type="checkbox" onclick="this.form.submit()" th:checked="@{task.completed}"/>
                        <input type="text" name="newDescription" placeholder="Edit Task" required/>
                    </form>
                    <span th:text="${task.description}"></span>
                    <form th:action="@{/todos/delete}" method="post" style="display:inline;">
                        <input type="text" name="taskId" th:value="${task.id}"/>
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>
        </div>
</div>
</body>
</html>